@()

<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<title>REST Store - You look exhausted, take a rest</title>
</head>
<body>
	<div style="margin: 30px;">
		<h1>REST Store<small> You look exhausted, take a rest</small></h1>
		<div class="btn btn-primary" style="text-align: left; width: 100%; padding: 2px; padding-left: 10px;"><h4>Products:</h4></div>
    	<ul id="products">
    		<!-- list items -->
    	</ul>
    	<button id="createProduct">New Product</button>
    </div>
    <script>
    	function loadProducts(){
			$('#products').empty();
			$.get('/products', function(products){
				$.each(products, function(arrayIndex, product){
					$('<li>').attr('class', 'btn btn-default')
					.append('<small>(' + product.id + ')</small> <b> ' +  product.name + '</b>  ' + product.cost + '$ - ' + product.description + ' - ' )
					.append(
						$('<button>')
						.text('GET')
						.click(function(){
							location.href = "/products/" + product.id;
						})
					)
					.append(' | ')
					.append(
						$('<button>')
						.text('Delete')
						.click(function(){
							$.ajax({
								url: '/products/' + product.id,
								type: 'DELETE'
							})
							.always(loadProducts);
						})
					)
					.append(' | ')
					.append(
						$('<button>')
						.text('Update')
						.click(function(){
							$.ajax({
								url: '/products/' + product.id,
								type: 'PUT',
								data: {
									name: prompt("Enter a new name: ", product.name),
									description: prompt("Enter a new description: ", product.description),
									cost: prompt("Enter cost:", product.cost)
								}
							})
							.always(loadProducts);
						})
					)
					.appendTo('#products');

					$('<br/>').appendTo('#products');
				});
			});
    	}
    	
		$('#createProduct').click(function(){
			$.ajax({
				url: '/products',
				type: 'PUT',
				data: {
					name: prompt("Enter a name: "),
					description: prompt("Enter a description: "),
					cost: prompt("Enter cost: ")
				}
			})
			.always(loadProducts);
		});

    	$(loadProducts);
    </script>

</body>

</html>