@(products: List[models.Product])

<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<title>Validation Store - You look exhausted, take a validation</title>
</head>
<body>
	<div style="margin: 30px;">
		<h1>Validation Store<small> You look exhausted, take a validation</small></h1>
		<div class="btn btn-primary" style="text-align: left; width: 100%; padding: 2px; padding-left: 10px;"><h4>Products:</h4></div>
		<br/>
		<br/>
		@if(flash.containsKey("name-error")){
			<div class="alert alert-warning"><small>@flash().get("name-error")</small></div>
		}
		@if(flash.containsKey("cost-error")){
			<div class="alert alert-warning"><small>@flash().get("cost-error")</small></div>
		}
		@if(flash.containsKey("description-error")){
			<div class="alert alert-warning"><small>@flash().get("description-error")</small></div>
		}
    	<ul id="products">
    		@for(product <- products){
    			<li class="btn btn-default">
    			<small>
	    			<b>
		    			 (@product.getId()) @product.getName() - @product.getDescription() - @product.getCost()$
		       			<form role="form" action ="@routes.Products.deleteProduct(product.getId())" method="POST">
							<div class="form-group">
								<button type="submit" class="btn btn-default">delete</button>
							</div>
						</form> 			
		    			</small>
		    		</b>
    			</li>
    			<br/>
    		}
    	</ul>
    	<br/>
    	<div style="width: 300px;">
    		<form role="form" action ="@routes.Products.createProduct()" method="POST">
				<div class="form-group">
					<label>Name:</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="Product name" value="@if(flash.containsKey("name")){@flash.get("name")}">
					<label>Cost:</label>
					<input type="number" class="form-control" id="cost" name="cost" placeholder="Cost" value="@if(flash.containsKey("cost")){@flash.get("cost")}">
					<label>Description:</label>
					<input type="text" class="form-control" id="description" name="description" placeholder="Product Description" value="@if(flash.containsKey("description")){@flash.get("description")}">
				</div>
				<button type="submit" class="btn btn-default">Save</button>
			</form>
		</div>
    </div>

</body>

</html>